

.flow-parent {
    height: 100vh;
    width: 100vw;
    box-shadow: 0px 0px 4px grey;
    border-radius: 0.5rem;
    .react-flow{
      background: radial-gradient(
            grey 1px,
            #D3D2E4 1px,
            
          );
      background-size: 15px 15px;
      .react-flow__nodes .react-flow__node{
        border-radius: 50%;
      }
    }
    &.delete-mode {
      .react-flow{
        background: radial-gradient(
              grey 1px,
              #d09191 1px,
              
            );
        background-size: 15px 15px;
        .react-flow__nodes .react-flow__node{
          border-radius: 50%;
        }
      }
    }
  }
.flow-parent {
    position: relative;
    .btn-add {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    .btn-del {
      position: absolute;
        top: 3rem;
        left: 1rem;
    }
    .btn-del-all {
      position: absolute;
        top: 5rem;
        left: 1rem;
    }
  }
  
  div.react-flow__panel {
    display: none;
  }

  .app-title {
    font-family: 'Bradley Hand', cursive;
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 2px;
    font-weight: bold;
    font-size: 24px;
  }