* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.customNodeBody {
  width: 40px;
  height: 40px;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.customNode {
  .delete {
    position: absolute;
    top: 100%;
    left: 32%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: #d6d5e6;
    border-radius: 10px;
    border: 1px solid black
  }
}
.customNode{
  &:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  height: 8px;
  width: 16px;
  transform: translate(-50%, 0);
  background: #333333;
  z-index: 1000;
  line-height: 1;
  border-radius: 4px;
  font-size: 9px;
  border: 2px solid;
  border-color: inherit;
  color: #D3D2E4;
}
  &.x:before{
    content: 'x';
    text-align: center;
    cursor: pointer;
  }
}
div.source-handle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
  &.source-active:hover{
    opacity: 1;
    background-color: #44444450;
  }
}

div.target-handle {
  width: 50%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 3px;
  // right: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
  &:hover {
    opacity: 1;
    background-color: #3a3a3a50;
  }
  &.target-active {
    opacity: 1;
    background-color: #3a3a3a50;
  }
}



.shadow {
  -webkit-box-shadow: inset 0px 0px 10px rgb(100, 100, 100)  !important;
   -moz-box-shadow: inset 0px 0px 10px rgb(100, 100, 100)  !important;
        box-shadow: inset 0px 0px 10px rgb(100, 100, 100) !important;
}

// .animation {
//   background: linear-gradient(270deg, #24a382, #2934d0, #7d1f50, #d2361d);
//   background-size: 800% 800%;

//   -webkit-animation: background-flash 3s ease;
//   animation: background-flash 3s ease;
// }

// @-webkit-keyframes background-flash {
//   0%{background-position:0% 50%}
//   50%{background-position:100% 50%}
//   100%{background-position:0% 50%}
// }
// @keyframes background-flash {
//   0%{background-position:0% 50%}
//   50%{background-position:100% 50%}
//   100%{background-position:0% 50%}
// }



.btn {
  width: 100%;
  margin: 0.5rem auto;
}